<div class="grid grid-flow-row auto-rows-max">
  <div>
  <%= form_tag users_searches_path(@user) do %>
    <%= label_tag(:question, "Search for:") %>
      <%= text_field_tag(:question) %>
      <%= submit_tag("Search") %>
  <% end %>
  </div>
  <div>
  <h1 class="font-bold text-4xl text-blue-500">Searched Questions for user</h1>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Question</th>
        <th>Search count</th>
        <th>Results</th>
      </tr>
    </thead>
  <tbody>
      <% @searches.each do |question, count| %>
        <tr>
           <td><%= question[0] %></th>
           <td><%= count %></td>
           <td><%= question[1].count %></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
<div>
<h1 class="font-bold text-4xl text-blue-500">Articles title and search count</h1>
<table class="table-auto">
  <thead>
    <tr>
      <th>Title</th>
      <th>Number of searches</th>
    </tr>
  </thead>
  <% @articles.each do | article| %>
    <tr>
      <td><%= article[1] %></td>
      <td><%= article[0] %></td>
    </tr>
    <% end %>
</table>
</div>
</div>